@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.ant-tabs-nav{
  margin: 0 !important;
}

/* CSS */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity to your liking */
  backdrop-filter: blur(10px); /* Add backdrop filter for the glass effect */
  z-index: 1000;
}

